
.fixTableHead {
    overflow-y: auto;
    height: 500px;
}
.fixTableHead thead th {
    position: sticky;
    top: 0;
}

table {
    border-collapse: collapse;        
    width: 100%;
  }
  th,
  td {
    padding: 8px 15px;
    border: 2px solid #dddddd;
  }
  th {
    background: #dddddd;
  }